
<%- include('partials/head.ejs') %>

<!-- Layout wrapper -->
<div class="container-fluid">
    <%- include('partials/header.ejs') %>
    <div class="content-wrapper">
            <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1">
                  <li class="breadcrumb-item">
                    <a href="/home">Trang chủ</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="/post/<%= post.id %>"> <%= post.title %></a>
                  </li>
                  
                </ol>
              </nav>
            <!-- <h1>ID: <%= post.id %></h1>
            
            <p >like count: <%= post.like_count %></p>
            
            <p><%= moment(post.created_at).format('Do MMMM, YYYY') %></p> -->
           
            <input type="text" value="<%=post.id  %>" hidden id="post_id">
            <input type="text" value="<%=user.id  %>" hidden id="user_id">
            <input type="text" value="<%=post.user_id  %>" hidden id="own_id">
            <div class="row d-flex">
                <div class="col-md-9">
                    <div class="card mb-3 p-3">
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                              <img src="/img/<%=post.avatar_url  %>" alt="User" class="rounded">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                              <div class="me-2">
                                <a href="/user/<%=post.user_id  %>" class="text-muted d-block mb-1"><%=post.full_name  %></a>
                                <h6 class="mb-0">Đã đăng vào <%=  moment(post.created_at).format('DD/MM/YYYY'); %></h6>
                                
                                <div class="d-flex align-items-center mt-2" >
                                    <div id="like_count" class="d-flex align-items-center " style="margin-right: 10px;"></div>
                                    <div class="d-flex align-items-center" style="margin-right: 10px;">
                                        <i style="color: rgb(19, 199, 202);" class='bx bx-show'></i>
                                        <div class="text-muted"><%= post.view_count %></div>
                                    </div>
                                    <!-- <div class="d-flex align-items-center" style="margin-right: 10px;">
                                        <button class="btn p-0" type="button" data-bs-toggle="modal" data-bs-target="#basicModal<%= post.id %>">
                                            <i style="color: red;" class='bx bx-error-circle'></i>
                                            <span>Báo xấu</span>
                                        </button>
                                    </div> -->
                                </div>
                                <div id="type" class="mt-3"></div>
                              </div>
                              
                              <!-- <div class="user-progress d-flex align-items-center gap-1">
                                <h6 class="mb-0">+82.6</h6>
                                <span class="text-muted">USD</span>
                              </div> -->
                            </div>
                          </li>
                          <hr class="m-0">
                        <h1 class="title1"><%= post.title %></h1>
                        <hr class="m-0">
                        <div class=" p-2" style="text-align: justify; font-size: 20px;" id="content_post" >
                       
                        
                        </div>
                    </div>
                    <h5 id="num"></h5>
                    <div class="comments">
                        <div class="comment_input">
                            <textarea id="myInput" class="comment_textarea" placeholder="Bình luận của bạn"></textarea>
                            <button class="comment_submit" onclick="newcomment(('<%= user.id %>'), ('<%= post.id %>'), ('<%= post.user_id %>'))">Gửi</button>
                        </div>
                        <!-- <div class="comment_wrapper"></div>
                        </div> -->
                        <div class="coment-area" style="display: block;">
                            <ul class="we-comet card p-3" id="list_comment">
                               
                                <!-- <li>
                                    <div class="avatar avatar-online" style="display: inline-block; ">
                                        <img style="border-radius: 100%;" src="/img/anh1.jpg" alt="">
                                    </div>
                                    <div class="we-comment">
                                        <div class="d-flex justify-content-between">
                                            <h4><a href="time-line.html" title="">Sophia</a></h4>
                                            
                                            <div class="btn-group">
                                                <button class="btn btn-primary btn-xs btn-icon rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                                  <li>
                                                    <hr class="dropdown-divider">
                                                  </li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <h5>we are working for the dance and sing songs. this video is very awesome for the youngster.
                                            <i class="em em-smiley"></i>
                                        </h5>
                                        <div class="inline-itms">
                                            <span>1 year ago</span>
                                            <a class="we-reply" onclick="showReplyForm(1)" title="Reply"><i class='bx bx-reply'></i></i></a>
                                            <a href="#" title=""><i class='bx bx-heart' ></i></i><span>20</span></a>
                                            <ul id="nestedComments1" class="nested-comments" style="display: none;">
                                                <li>
                                                    <div class="avatar avatar-online" style="display: inline-block; ">
                                                        <img style="border-radius: 100%;" src="/img/anh1.jpg" alt="">
                                                    </div>
                                                    <div class="we-comment">
                                                        <div class="d-flex justify-content-between">
                                                            <h4><a href="time-line.html" title="">Sophia</a></h4>
                                                            
                                                            <div class="btn-group">
                                                                <button class="btn btn-primary btn-xs btn-icon rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                  <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                                                  <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                                                  <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                                                  <li>
                                                                    <hr class="dropdown-divider">
                                                                  </li>
                                                                  <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        
                                                        <h5>we are working for the dance and sing songs. this video is very awesome for the youngster.
                                                            <i class="em em-smiley"></i>
                                                        </h5>
                                                        <div class="inline-itms">
                                                            <span>1 year ago</span>
                                                            <a class="we-reply" onclick="showReplyForm(4)" title="Reply"><i class='bx bx-reply'></i></i></a>
                                                            <a href="#" title=""><i class='bx bx-heart' ></i></i><span>20</span></a>
                                                            <ul id="nestedComments4" class="nested-comments" style="display: none;">
                
                                                            </ul>
                                                            <div id="replyForm4" style="display: none;">
                                                                <textarea id="newReplyContent4" class="comment_textarea_reply" placeholder="Type your reply here"></textarea>
                                                                <button class="post-btn" onclick="addNewReply(4)">Post Reply</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div id="replyForm1" style="display: none;">
                                                <textarea id="newReplyContent1" class="comment_textarea_reply" placeholder="Type your reply here"></textarea>
                                                <button class="post-btn" onclick="addNewReply(1)">Post Reply</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="avatar avatar-online" style="display: inline-block; ">
                                        <img style="border-radius: 100%;" src="/img/anh1.jpg" alt="">
                                    </div>
                                    <div class="we-comment">
                                        <div class="d-flex justify-content-between">
                                            <h4><a href="time-line.html" title="">Sophia</a></h4>
                                            
                                            <div class="btn-group">
                                                <button class="btn btn-primary btn-xs btn-icon rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                                  <li>
                                                    <hr class="dropdown-divider">
                                                  </li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <h5>we are working for the dance and sing songs. this video is very awesome for the youngster.
                                            <i class="em em-smiley"></i>
                                        </h5>
                                        <div class="inline-itms">
                                            <span>1 year ago</span>
                                            <a class="we-reply" onclick="showReplyForm(2)" title="Reply"><i class='bx bx-reply'></i></i></a>
                                            <a href="#" title=""><i class='bx bx-heart' ></i></i><span>20</span></a>
                                            <ul id="nestedComments2" class="nested-comments" style="display: none;">

                                            </ul>
                                            <div id="replyForm2" style="display: none;">
                                                <textarea id="newReplyContent2" class="comment_textarea_reply" placeholder="Type your reply here"></textarea>
                                                <button class="post-btn" onclick="addNewReply(2)">Post Reply</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="avatar avatar-online" style="display: inline-block; ">
                                        <img style="border-radius: 100%;" src="/img/anh1.jpg" alt="">
                                    </div>
                                    <div class="we-comment">
                                        <div class="d-flex justify-content-between">
                                            <h4><a href="time-line.html" title="">Sophia</a></h4>
                                            
                                            <div class="btn-group">
                                                <button class="btn btn-primary btn-xs btn-icon rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                                  <li>
                                                    <hr class="dropdown-divider">
                                                  </li>
                                                  <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <h5>we are working for the dance and sing songs. this video is very awesome for the youngster.
                                            <i class="em em-smiley"></i>
                                        </h5>
                                        <div class="inline-itms">
                                            <span>1 year ago</span>
                                            <a class="we-reply" onclick="showReplyForm(3)" title="Reply"><i class='bx bx-reply'></i></i></a>
                                            <a href="#" title=""><i class='bx bx-heart' ></i></i><span>20</span></a>
                                            <ul id="nestedComments3" class="nested-comments" style="display: none;">

                                            </ul>
                                            <div id="replyForm3" style="display: none;">
                                                <textarea id="newReplyContent3" class="comment_textarea_reply" placeholder="Type your reply here"></textarea>
                                                <button class="post-btn" onclick="addNewReply(3)">Post Reply</button>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                
                                <!-- <li class="post-comment">
                                    <div class="comet-avatar">
                                        <img src="images/resources/nearly1.jpg" alt="">
                                    </div>
                                    <div class="post-comt-box">
                                        <form method="post">
                                            <textarea placeholder="Post your comment"></textarea>
                                            <div class="add-smiles">
                                                <div class="uploadimage">
                                                    <i class="fa fa-image"></i>
                                                    <label class="fileContainer">
                                                        <input type="file">
                                                    </label>
                                                </div>
                                                <span class="em em-expressionless" title="add icon"></span>
                                                <div class="smiles-bunch">
                                                    <i class="em em---1"></i>
                                                    <i class="em em-smiley"></i>
                                                    <i class="em em-anguished"></i>
                                                    <i class="em em-laughing"></i>
                                                    <i class="em em-angry"></i>
                                                    <i class="em em-astonished"></i>
                                                    <i class="em em-blush"></i>
                                                    <i class="em em-disappointed"></i>
                                                    <i class="em em-worried"></i>
                                                    <i class="em em-kissing_heart"></i>
                                                    <i class="em em-rage"></i>
                                                    <i class="em em-stuck_out_tongue"></i>
                                                </div>
                                            </div>

                                            <button type="submit"></button>
                                        </form>	
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card" style="padding: 0px;"> 
                    <p class="title1">Bài viết liên quan</p>
                    <div id="list_post"></div>
                    <div class=" ">
                        <h4 class="title1">Tag</h4>
                        <hr class="m-0">
                         <div id="list_tags" >
                           
                         </div>
     
                         
                       </div>
                </div>
            </div>       
        </div> 
        

    </div> 
    <div class="modal fade" id="basicModal<%= post.id %>" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <form action="">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Báo cáo vi phạm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col mb-3">
                   <span>Hãy cho chúng tôi biết lý do bạn muốn thông báo. Chúng tôi sẽ khắc phục vấn đề này trong thời gian ngắn nhất.</span>
                    <input type="text" id="document_id" class="form-control" name="document_id" value="<%= post.id%>" disabled="true" hidden >
                    
                  </div>
    
                </div>
                <input type="text" id="post_user_id" class="form-control" name="post_user_id" value="<%= post.user_id%>" hidden>
                <div class="row">
    
                  <div class="col mb-3">
                    <div class="form-check mt-3">
                        <input name="bad_type" class="form-check-input" type="radio" value="" id="rad_1">
                        <label class="form-check-label" for="rad_1"> Có nội dung khiêu dâm </label>
                    </div>
                    <div class="form-check mt-3">
                        <input name="bad_type" class="form-check-input" type="radio" value="" id="rad_2">
                        <label class="form-check-label" for="rad_2"> Có nội dung phản động </label>
                    </div>
                    <div class="form-check mt-3">
                        <input name="bad_type" class="form-check-input" type="radio" value="" id="rad_3">
                        <label class="form-check-label" for="rad_3"> Spam </label>
                    </div>
                   
                    <div class="form-check mt-3">
                        <input name="bad_type" class="form-check-input" type="radio" value="" id="rad_5">
                        <label class="form-check-label" for="rad_5"> Không đúng tiêu đề </label>
                    </div>
                    <!-- <label for="report_reason" class="form-label">Lí do:</label>
                    <textarea type="text" id="report_reason" class="form-control" name="report_reason" placeholder="" rows="3"></textarea> -->
                  </div>
                </div>
    
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  Đóng
                </button>
                <button type="button" class="btn btn-primary" id="okButton" >Đồng ý</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
</div>     
<%- include('partials/footer.ejs') %>
<style>
  .hover:hover{
    transform: scale(0.9);
  }


    .comet-avatar {
    display: inline-block;
    max-width: 30px;
    vertical-align: top;
    width: 30px;
}
    .coment-area {
    margin-top: 20px;
    width: 100%;
	display: none;
	float: left;
}

.we-comet {
    float: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
	margin-bottom: 0;
}

.we-comet > li {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.we-comet > li:last-child {
    margin-bottom: 0;
}

.comet-avatar {
    display: inline-block;
    max-width: 36px;
    vertical-align: top;
    width: 36px;
}

.we-comment {
    border-bottom: 1px solid #ede9e9;
    display: inline-block;
    padding-bottom: 8px;
    padding-left: 8px;
    position: relative;
    vertical-align: top;
    width: 92%;
}

.inline-itms > a i {
    margin-right: 3px;
}
.inline-itms > a span {
    font-size: 11px;
}
.inline-itms {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}


/*.we-comment::before,
.peoples-mesg-box > ul > li p:before {
    border-bottom: 10px solid transparent;
    border-right: 11px solid #ede9e9;
    border-top: 10px solid transparent;
    left: -11px;
    top: 10px;
    position: absolute;
    content: '';
}

.we-comment::after,
.peoples-mesg-box > ul > li p:after {
    border-bottom: 8px solid transparent;
    border-right: 9px solid #fff;
    border-top: 8px solid transparent;
    left: -9px;
    top: 12px;
    position: absolute;
    content: '';
}*/

.we-comet > li ul {
    border-left: 2px solid #23d2e2;
    list-style: outside none none;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 15px;
}

.we-comet > li ul li {
    margin-bottom: 20px;
}

.we-comet li a.showmore {
    display: table;
    font-size: 12px;
    margin: 0 auto;
    text-transform: capitalize;
	font-weight: 500;
}

.we-comet > li ul li:last-child {
    margin-bottom: 0;
}

.coment-head {
    display: inline-block;
    width: 100%;
}

.we-comment > h5 {
    color: #515365;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 8px;
    width: auto;
    text-transform: capitalize;
}

.we-comment > p {
    display: inline;
    font-size: 13.4px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.inline-itms > a, 
.inline-itms > span {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-transform: capitalize;
}

.coment-head > span {
    color: #999;
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
}




    .comment_textarea {
      padding: 20px;
      border-radius: 10px;
      min-height: 200px;
      width: 100%;
    }
    .comment_textarea_reply {
      padding: 20px;
      border-radius: 10px;
      min-height: 100px;
      width: 80%;
    }
    .comment_submit {
      padding: 10px 50px;
      border-radius: 10px;
      background: white;
      color: #333;
    }
    
    .comment_item {
      padding: 20px;
      border-radius: 10px;
      background: white;
      color: #333;
      margin-top: 20px;
    }
    .comment_item > p:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
    }
    .comment_item > p:first-child a {
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: bold;
    }
    .comment_item > p:first-child a img {
      border-radius: 50%;
    }
</style>
<script src="/asset/js/script/postdetail.js"></script>
<script>
//      const content_post = document.getElementById("content_post");
//      const id = document.getElementById("post_id").value;
    
//      function load(){
//         $.ajax({
//         type: "GET",
//         url: `http://localhost:8001/api/v1/post/`+id ,
//         headers: {
//             "Content-Type": "application/json"
//         },
//         data: JSON.stringify({
//             id: id
//         }),
//         success: function (response) {
           
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//            console.log(response.message);
//            console.log(response.data);
//            content_post.innerHTML = response.data.body;
           
//         },
//         error: function (error) {
//             console.log(error);
           
//         },
//     });
//      }
//      load();
//      function getcomment(){
//         const post_id = document.getElementById(`post_id`).value;
//         //const document_id = id;
//         $.ajax({
//             url: `http://localhost:8001/api/v1/comment/post/${post_id}`, // Replace with your actual API endpoint URL
//             type: 'GET',
//             dataType: 'json',
//             success: function(response) {
//             if (response.message === 'ok') {
//                 const comments = response.data;
//                 let count = response.num;
//                 console.log(response.data);
//                 console.log(response.message);
//                 $('#num').empty();
//                 $('#num').append(`Bình luận (` + count + `)`);
//                 // Handle successful response and display comments (replace with your desired logic)
//                 $('#list_comment').empty(); // Clear existing comments (optional)
//                 for (const comment of comments) {
//                     const commentHtml = `
//                     <li>
//                         <div class="avatar avatar-online" style="display: inline-block; ">
//                             <img style="border-radius: 100%;" src="/img/${comment.avatar_url}" alt=""> 
//                         </div>
//                         <div class="we-comment">
//                             <div class="d-flex justify-content-between">
//                                 <h4><a href="/user/${comment.user_id}" title="">${comment.full_name} </a></h4>
                                          
//                                 <div class="btn-group">
//                                     <button class="btn  btn-xs btn-icon rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
//                                     <i class="bx bx-dots-vertical-rounded"></i>
//                                     </button>
//                                     <ul class="dropdown-menu">
//                                         <li><a class="dropdown-item" onclick = "updateComment(${comment.id})">Sửa</a></li>
//                                         <li><a class="dropdown-item" onclick = "deleteComment(${comment.id})">Xóa</a></li>
                                        
//                                     </ul>
//                                 </div>
//                             </div>
                                        
//                             <h5 id = "currentcontentComment${comment.id}"> ${comment.content}
                                
//                             </h5>
//                             <div id="editComment${comment.id}" style="display: none;">
//                             <textarea class="comment_textarea_reply" id="editedContentComment${comment.id}"></textarea>
//                             <button class=" btn" id="saveButton" onclick="saveEditComment(${comment.id},${comment.post_id})" >Lưu</button>
//                             </div>
//                             <div class="inline-itms">
//                                 <span>${countTime(comment.created_at)}</span>
//                                 <a class="we-reply" onclick="showReplyForm(${comment.id})" title="Reply"><i class='bx bx-reply'></i></i></a>
//                                 <a onclick = "likecomment(${comment.id}, ${comment.user_id})" title=""><i class='bx bx-heart' ></i></i><span>${comment.like_count} </span></a>
//                                 <ul id="nestedComments${comment.id}" class="nested-comments" style="display: none;">

//                                 </ul>
//                                 <div id="replyForm${comment.id}" class = "mt-2" style="display: none;">
//                                     <textarea id="newReplyContent${comment.id}" class="comment_textarea_reply" placeholder=""></textarea>
//                                     <button class="post-btn btn" onclick="addNewReply(${comment.id},${comment.post_id},${comment.id},${comment.user_id})">Trả lời</button>
//                                 </div>
//                             </div>
//                         </div>
//                     </li>
//                     `;
//             $('#list_comment').append(commentHtml);
           
//           }
//         } else {
//           alert('An error occurred: ' + response.message); // Handle potential errors
//         }
//       },
//       error: function(jqXHR, textStatus, errorThrown) {
//         console.error('Error:', textStatus, errorThrown);
//         alert('There was a problem fetching comments. Please try again later.'); // User-friendly error message
//       }
//     });
//     }
//     function showReplyForm(comment_id) {
//     const nestedComments = document.getElementById(`nestedComments${comment_id}`);

//     if (nestedComments.style.display === 'none' || nestedComments.style.display === '') {
//         nestedComments.style.display = 'block';
//     } else {
//         nestedComments.style.display = 'none';
//     }
    
//     $.ajax({
//         type: "GET",
//         url: `http://localhost:8001/api/v1/comment/${comment_id}`,
//         headers: {
//             // 'Authorization' : 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBWZXIiOiIwLjAuMCIsImV4cCI6NDcyNjM4OTEyMiwibG9jYWxlIjoiIiwibWFzdGVyVmVyIjoiIiwicGxhdGZvcm0iOiIiLCJwbGF0Zm9ybVZlciI6IiIsInVzZXJJZCI6IiJ9.QIZbmB5_9Xlap_gDhjETfMI6EAmR15yBtIQkWFWJkrg',
//         },
//         success: function (response) {

//             if (response.data == null) {
//                 console.log("no");
//             } else {
//                 //numComment = response.data.length;
//                 let $str = response.data.map(function (comment) {
//                     return `
//                     <li>
//                         <div class="avatar avatar-online" style="display: inline-block; ">
//                             <img style="border-radius: 100%;" src="/img/${comment.avatar_url}" alt=""> 
//                         </div>
//                         <div class="we-comment">
//                             <div class="d-flex justify-content-between">
//                                 <h4><a href="/user/${comment.user_id}" title="">${comment.full_name} </a></h4>
                                            
//                                 <div class="btn-group">
//                                     <button class="btn btn-primary btn-xs btn-icon rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
//                                     <i class="bx bx-dots-vertical-rounded"></i>
//                                     </button>
//                                     <ul class="dropdown-menu">
//                                         <li><a class="dropdown-item" onclick = "updateComment(${comment.id})">Sửa</a></li>
//                                         <li><a class="dropdown-item" onclick = "deleteComment(${comment.id})">Xóa</a></li>
                                        
//                                     </ul>
//                                 </div>
//                             </div>
                                        
//                             <h5 id = "currentcontentComment${comment.id}"> ${comment.content}
                                
//                             </h5>
//                             <div id="editComment${comment.id}" style="display: none;">
//                             <textarea class="comment_textarea_reply" id="editedContentComment${comment.id}"></textarea>
//                             <button class=" btn" id="saveButton" onclick="saveEditComment(${comment.id})" >Lưu</button>
//                             </div>
//                             <div class="inline-itms">
//                                 <span>1 year ago</span>
//                                 <a class="we-reply" onclick="showReplyForm(${comment.id})" title="Reply"><i class='bx bx-reply'></i></i></a>
//                                 <a onclick = "likecomment(${comment.id}, ${comment.user_id})" title=""><i class='bx bx-heart' ></i></i><span>${comment.like_count} </span></a>
//                                 <ul id="nestedComments${comment.id}" class="nested-comments" style="display: none;">

//                                 </ul>
//                                 <div id="replyForm${comment.id}" class = "mt-2" style="display: none;">
//                                     <textarea id="newReplyContent${comment.id}" class="comment_textarea_reply" placeholder=""></textarea>
//                                     <button class="post-btn btn" onclick="addNewReply(${comment.id},${comment.post_id},${comment.id}, ${comment.user_id})">Trả lời</button>
//                                 </div>
//                             </div>
//                         </div>
//                     </li>
                
//                 `;
//                 });
//                 //var str1 = "" + numComment;
//                 $("#nestedComments" + "" + comment_id).html($str);
//                 //$("#numCm" + id_post).html(str1);
//             }
//         },
//     });

//     const replyForm = document.getElementById(`replyForm${comment_id}`);

//     if (replyForm.style.display === 'none' || replyForm.style.display === '') {
//         replyForm.style.display = 'block';
//     } else {
//         replyForm.style.display = 'none';
//     }
// }
// getcomment();
// function likecomment(comment_id,own_id){
//     const user_id = document.getElementById(`user_id`).value; 
//     $.ajax({
//         type: "POST",
//         url: `http://localhost:8001/api/v1/like/comment` ,
//         headers: {
//             "Content-Type": "application/json"
//         },
//         data: JSON.stringify({
//             user_id: user_id,
//             comment_id: comment_id,
//             own_id: own_id
//         }),
//         success: function (response) {
           
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//            console.log(response.message);
//            getcomment();
//         },
//         error: function (error) {
//             console.log(error);
//             getcomment();
//         },
//     });
// }
// function newcomment(user_id, post_id, own_id){
//     var content = document.getElementById("myInput").value;
//     console.log(content);
//     var requests = {
//         "url": `http://localhost:8001/api/v1/comment/post`,
//         "method": "POST",
//         "headers": {
//             "Content-Type": "application/json"
//         },
//         "data": JSON.stringify({
//             "user_id": user_id,
//             "post_id": post_id,
//             "content": content,
//             "own_id": own_id
//         })
//     }
//     $.ajax(requests).done(function (response) {
//         console.log(response.message);
//         getcomment();
//     })
//         .fail(function (errorThrown) {
//             console.error("Lỗi: ", errorThrown);
//            getcomment();
//         });
// }
// function updateComment(comment_id){
//     const user_id = document.getElementById(`user_id`).value; 
//     $.ajax({
//         type: "POST",
//         url: `http://localhost:8001/api/v1/comment/checkuser`,
//         headers: {
//             "Content-Type": "application/json"
//         },
//         data: JSON.stringify({
//             user_id: user_id,
//             comment_id: comment_id
            
//         }),
//         success: function (data) {
//             console.log(data);
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//             if(data.status == 1){
//                 document.getElementById('editComment' + comment_id).style.display = 'block';
//                 const currentContent = document.getElementById('currentcontentComment' + comment_id).innerText;
//                 document.getElementById('editedContentComment' + comment_id).value = currentContent;
//                 const text = document.getElementById('currentcontentComment'+comment_id);
//                 text.style.display = 'none';
//             }
//             else{
//                 $.toast({
//             heading: 'Bạn không được sửa bình luận của người khác',
//             text: 'Bạn không được sửa bình luận của người khác',
//             showHideTransition: 'fade',
//             icon: 'error',
//             hideAfter: 3000,
//             loaderBg: '#fa6342',
//             position: 'bottom-right',
//         });
//             }
//         },
//         error: function (error) {
//             console.log(error);
//         },

//     });

    

// }
// function saveEditComment(comment_id) {
//     var editedContent = document.getElementById('editedContentComment' + comment_id).value;
//     console.log(comment_id);
//     console.log(editedContent);
//     $.ajax({
//         type: "POST",
//         url: `http://localhost:8001/api/v1/comment/update` ,
//         headers: {
//             "Content-Type": "application/json"
//         },
//         data: JSON.stringify({
//             comment_id: comment_id,
//             content: editedContent
//         }),
//         success: function (response) {
           
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//            console.log(response.message);
//            getcomment();
//         },
//         error: function (error) {
//             console.log(error);
//             getcomment();
//         },
//     });
//     //check xem day co phai comment cua minh hay la ko
       
// }

// function addNewReply(comment_id,post_id, parent_comment_id, own_id) {
//     const user_id = document.getElementById(`user_id`).value; 
//     var editedContent = document.getElementById('newReplyContent' + comment_id).value;
//    console.log(editedContent);
//    console.log(user_id);
//     $.ajax({
//         type: "POST",
//         url: `http://localhost:8001/api/v1/comment/parentcommentpost`,
//         headers: {
//             "Content-Type": "application/json"
//         },
//         data: JSON.stringify({
//             user_id: user_id,
//             post_id: post_id,
//             parent_comment_id: parent_comment_id,
//             content: editedContent,
//             own_id: own_id
//         }),
//         success: function (response) {
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//             if (response.data != null) {
//                 //loadData();
//                getcomment();
//             } else {
//                 //loadData();
//                getcomment();
//                 //showReplyForm(comment_id);
//             }
//         },
//         error: function (error) {
//             console.log(error);
//             getcomment();
//         },
//     });
// }
// function deleteComment(comment_id) {
//     const user_id = document.getElementById(`user_id`).value; 
//     console.log(user_id);
//     $.ajax({
//         type: "POST",
//         url: `http://localhost:8001/api/v1/comment/checkuser`,
//         headers: {
//             "Content-Type": "application/json"
//         },
//         data: JSON.stringify({
//             user_id: user_id,
//             comment_id: comment_id
            
//         }),
//         success: function (data) {
//             console.log(data);
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//             if(data.status == 1){
//                 $.ajax({
//                     type: "POST",
//                     url: `http://localhost:8001/api/v1/comment/del`,
//                     headers: {
//                         "Content-Type": "application/json"
//                     },
//                     data: JSON.stringify({
//                         user_id: user_id,
//                         comment_id: comment_id
                        
//                     }),
//                     success: function (response) {
//                         console.log(response);
//                         // Kiểm tra xem dữ liệu phản hồi có phải là null không
//                         if (response.check === 1) {
//                             alert(response.message);
//                             getcomment();
//                         } else {
//                         getcomment();
//                         }
//                     },
//                     error: function (error) {
//                         console.log(error);
//                     },

//                 });
//             }
//             else{
//                 $.toast({
//             heading: 'Bạn không được xóa bình luận của người khác',
//             text: 'Bạn không được xóa bình luận của người khác',
//             showHideTransition: 'fade',
//             icon: 'error',
//             hideAfter: 3000,
//             loaderBg: '#fa6342',
//             position: 'bottom-right',
//         });
//             }
//         },
//         error: function (error) {
//             console.log(error);
//         },

//     });
    
// }
// function loadLikeCount(){
//     const post_id = document.getElementById(`post_id`).value;
//     $.ajax({
//         type: "GET",
//         url: `http://localhost:8001/api/v1/post/${post_id}`,
//         headers: {
//             "Content-Type": "application/json"
//         },
        
//         success: function (response) {
//             console.log("data" + response.data);
//             if(response.data){
//                 $('#like_count').empty();
//                 let str = `
//                 <i class='bx bx-heart' onclick = "likepost(${response.data.id})" ></i>
//                 <div>${response.data.like_count}</div>
//                 `;
//                 $('#like_count').append(str);
//             }
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
            
//         },
//         error: function (error) {
//             console.log(error);
//         },

//     });
// }
// function likepost(post_id){
//     const user_id = document.getElementById(`user_id`).value; 
//     const own_id = document.getElementById('own_id').value;
//     console.log(user_id);
//     $.ajax({
//         type: "POST",
//         url: `http://localhost:8001/api/v1/like/post`,
//         headers: {
//             "Content-Type": "application/json"
//         },
//         data: JSON.stringify({
//             user_id: user_id,
//             post_id: post_id,
//             own_id: own_id
            
//         }),
//         success: function (response) {
//            // console.log(response);
//             loadLikeCount();
//         },
//         error: function (error) {
//             console.log(error);
//         },

//     });
// }
// loadLikeCount();
// const listTag = [];
// function loadtype(){
//     const id = document.getElementById("post_id").value;
//     console.log(id);
//      $.ajax({
//         type: "GET",
//         url: "http://localhost:8001/api/v1/post/tag/"+id,
        
//         success: function (response) {
//             response.data.forEach(type => {
//                 listTag.push(type.tag_id);
//            });
//            console.log(listTag);
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//             let $str = response.data.map(function (type) {
//                     return `
//                     <a href = "/tag/${type.tag_id}" class="btn btn-xs btn-primary"> ${type.name_tag}</a>
//                 `;
//             });
            
//             $("#type").html($str);
//               //console.log(str);
//               $.ajax({
        
//                 type: "POST",
//                 url: `http://localhost:8001/api/v1/posts/get-by-tag`,
//                 headers: {
//                     "Content-Type": "application/json"
//                 },
//                 data: JSON.stringify({
//                     tag: listTag
                    
//                 }),
//                 success: function (response) {
//                 console.log(response.message);
//                 for (const post of response.data) {
//                   let str = `
//                   <div class="col-md">
//                           <div class="card mb-3">
//                             <div class="row g-0">
//                               <div class="col-md-4">
//                                 <a href = "/post/${post.id}"></a>
//                                 <img class="card-img card-img-left" src="/img/${post.images}" alt="Card image">
//                               </div>
//                               <div class="col-md-8">
//                                 <div class="p-2">
//                                   <a href = "/post/${post.id}">
//                                     <h5 aria-label="${post.title}" data-cooltipz-dir="bottom" class="card-title" style ="font-size: 14px;">${post.title}</h5>
//                                   </a>
//                                   <p class="" style = "margin-bottom:0px; font-size:12px;">
//                                     ${shortenHtmlText(post.body,50)} 
//                                   </p>
//                                   <a href = "/user/${post.user_id}">
//                                     <p class="card-text"><small class="text-muted">Người đăng ${post.full_name}</small></p>
//                                   </a>
                                 
//                                   <p class="card-text"><small class="text-muted">${countTime(post.created_at)}</small></p>
//                                 </div>
//                               </div>
//                             </div>
//                           </div>
//                         </div>
//                       </div>
//                 `;
//                 $('#list_post').append(str);
//                 }
                    
//                 },
//                 error: function (error) {
//                     console.log(error);
//                 },

//             });
//         },
//         error: function (error) {
//             console.log(error);
//         },

//     });
//   }
//   loadtype();
//   function shortenHtmlText(htmlText, maxLength) {
//   let tempElement = document.createElement('div');
//   tempElement.innerHTML = htmlText;

//   let text = tempElement.textContent || tempElement.innerText || '';

//   if (text.length <= maxLength) {
//     return htmlText;
//   } else {
//     let shortText = text.substring(0, maxLength - 3) + "...";
//     tempElement.textContent = shortText;
//     return tempElement.innerHTML;
//   }
// }
// function shortenTextByWords(text, maxWords) {
//   // Tách văn bản thành các từ dựa trên khoảng trắng
//   let words = text.split(/\s+/);
  
//   // Nếu số từ ít hơn hoặc bằng số từ tối đa, trả về văn bản gốc
//   if (words.length <= maxWords) {
//     return text;
//   }

//   // Lấy 50 từ đầu tiên và thêm dấu ba chấm
//   let shortenedText = words.slice(0, maxWords).join(' ') + '...';

//   return shortenedText;
// }
// function countTime(created_at_string) {
//     let created_at = new Date(created_at_string);
//     let now = new Date();

//     let timeDifference = now - created_at; // Khoảng thời gian ở dạng miligisecond

//     let minutesDifference = Math.floor(timeDifference / (1000 * 60)); // Chuyển đổi sang phút
//     let hoursDifference = Math.floor(timeDifference / (1000 * 60 * 60)); // Chuyển đổi sang giờ
//     let daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24)); // Chuyển đổi sang ngày

//     let result;

//     if (daysDifference > 0) {
//         result = daysDifference + (daysDifference === 1 ? " ngày trước" : " ngày trước");
//     } else if (hoursDifference > 0) {
//         result = hoursDifference + (hoursDifference === 1 ? " giờ trước" : " giờ trước");
//     } else {
//         result = minutesDifference + (minutesDifference === 1 ? " phút trước" : " phút trước");
//     }

//     return result;
// }
// function shortenTextByWords(text, maxWords) {
//   // Tách văn bản thành các từ dựa trên khoảng trắng
//   let words = text.split(/\s+/);
  
//   // Nếu số từ ít hơn hoặc bằng số từ tối đa, trả về văn bản gốc
//   if (words.length <= maxWords) {
//     return text;
//   }

//   // Lấy 50 từ đầu tiên và thêm dấu ba chấm
//   let shortenedText = words.slice(0, maxWords).join(' ') + '...';

//   return shortenedText;
// }
</script>
