
<%- include('partials/head.ejs') %>
<!-- Layout wrapper -->
<div class="container-fluid">
    <%- include('partials/header.ejs') %>
    <div class="content-wrapper">
            <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <div class="card-body">
                    <form action="/uploadPost" enctype="multipart/form-data"  method="POST" >
                        <input type="text" value="<%= user.id  %>" name="user_id" id="" hidden>
                        <div data-intro="Đầu tiên nhập tên bài viết" class="mb-3">
                            <label for="" class="form-label">Tên bài viết</label>
                            <input class="form-control" type="text"
                                                  id="tentailieu"
                                                  name="title"
                                                  required
                                                />
                          </div>
                          <div data-intro="Chọn các thẻ tag" class="mb-3">
                              <label  class="form-label">Thẻ tag(Tối đa 3 cái)</label>
                              <select name="tag[]" id="tag" class="form-control multi" multiple>
                                  <!-- <option selected="">Open this select menu</option> -->
                                  <% for(var count = 0; count < tag.length; count++) { %>
                      
                                  <option value="<%= tag[count].id %>"><%= tag[count].name_tag %></option>
                      
                                  <% } %>
                              </select>
                          </div>
                          <div data-intro="Chọn ảnh" class="mb-3">
                              <label for="formFile" class="form-label">Chọn ảnh</label>
                              <input class="form-control" type="file" id="file" name="file" accept="image/png, image/jpeg" required>
                              <img src="" id="image-preview" alt="">
                          </div>
                          <div data-intro="Cuối cùng nhập nội dung" class="mb-3">
                            <label for="" class="form-label">Nội dung</label>
                            <textarea name="content" id="content" cols="30" rows="10"></textarea>
                          </div>
                         
                          <div class="mb-3">
                            <input class="btn btn-primary" type="submit" value="Đăng bài"/>
                          </div>
                    </form>
                    
                </div>
            </div>
        </div>
        
        
        
    </div> 
</div>      
<%- include('partials/footer.ejs') %>
<style>
    .modal_card{
       
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal_card{
       
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
    }
    #image-preview {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        margin: 10px;
    }
    /* HTML: <div class="loader"></div> */
    /* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.min.js"></script>
<script>
    introJs().start();
</script>
<script>
    CKEDITOR.replace('content');
</script>
<script>
    $('.multi').select2({
       
    });
</script>
<script>
    // const imageFile = document.getElementById('file');
    // const imagePreview = document.getElementById('image-preview');
    // imagePreview.hidden = true;
    // imageFile.addEventListener('change', function() {

    //     imagePreview.hidden = false;
    //     if (this.files && this.files[0]) {
            
    //         const file = this.files[0];
    //         const reader = new FileReader();

    //         reader.onload = function(e) {
    //             imagePreview.src = e.target.result;
    //         };

    //         reader.readAsDataURL(file);
    //     }
    // });
    const imagePreview = document.getElementById('image-preview');
    imagePreview.hidden = true;

    document.getElementById('file').addEventListener('change', function() {
        imagePreview.hidden = false;
            if (this.files && this.files[0]) {
                const file = this.files[0];
                const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif'];
                const fileExtension = file.name.split('.').pop().toLowerCase();

                if (allowedExtensions.includes(fileExtension)) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        imagePreview.src = e.target.result;
                    };

                    reader.readAsDataURL(file);
                } else {
                    alert('Chỉ cho phép các tệp có định dạng hình ảnh (jpg, jpeg, png, gif)');
                    this.value = ''; // Clear the input
                    imagePreview.hidden = true; // Hide the image preview
                }
            }
        });
</script>
