
<%- include('partials/head.ejs') %>
<!-- Layout wrapper -->
<div class="container-fluid">
    <%- include('partials/header.ejs') %>
    <div class="content-wrapper">
            <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <% if(alert) {%>
                <div class="alert alert-success alert-dismissible" role="alert">
                    <% alert %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            <% } %>   
            
           <!-- <h1>Upload</h1>   
           <h1> <%= user.id  %></h1>  
           <h1> <%= user.email  %></h1> -->
           <div class="card">
            <div class="p-2">
                <h4 style="color:rgb(124, 199, 245) ; margin-bottom: 0;">Upload Tài liệu</h4>
            </div>
            <div class="d-flex justify-content-between">
                <div class="col-md-8">
                    
                    <div class="p-2">
                        <p>Chia sẻ tài liệu của Bạn bằng cách Upload files để mọi người có thể xem, tải và kết nối cùng Bạn.</p>
                    <hr class="m-0">
                    </div>
                    <div class="card-body">
                        <form action="/uploaddocument" enctype="multipart/form-data" method="POST" >
                            <input type="text" value="<%= user.id  %>" name="user_id" id="" hidden>
                            <div data-intro="Chọn file mà bạn muốn upload"  class="mb-3">
                                <label for="formFile" class="form-label"></label>
                                <input class="form-control" type="file" id="file" name="file" accept=".docx,.pdf" required>
                            </div>
                            <div data-intro="Nhập tên tài liệu" class="mb-3">
                                <label for="" class="form-label">Tên tài liệu</label>
                                <input  class="form-control" type="text"
                                                      id="tentailieu"
                                                      name="tentailieu"
                                                    />
                              </div>
                              <div class="mb-3" data-intro="Chọn thể loại cho tài liệu">
                                  <label   class="form-label">Thể loại</label>
                                  <select name="types" id="types" class="form-control">
                                      <option selected="">Chọn thể loại</option>
                                      <% for(var count = 0; count < types.length; count++) { %>
                          
                                      <option value="<%= types[count].id %>"><%= types[count].name %></option>
                          
                                      <% } %>
                                  </select>
                              </div>
                             
                              <div id="" data-intro="Nhập mô tả" >
                                <label for="describes" class="form-label">Mô tả:</label>
                                <textarea class="form-control" name="describes" id="describes" rows="3" ></textarea>
                              </div>
                              <div class="mb-3 mt-3">
                                <input class="btn btn-primary" type="submit" value="Xác nhận"/>
                              </div>
                        </form>
                        
                    </div>
                </div>
                <div>
                    <h5 style="margin-bottom: 0; color: rgb(124, 199, 245);">Quy định upload</h5>
                    <hr class="m-1">
                    <ul>
                        <li>
                            LƯU Ý: Không upload tài liệu có bản quyền mà không có sự đồng ý của tác giả.
                        </li>
                        <li>
                            Không upload tài liệu vi phạm thuần phong mỹ tục.
                        </li>
                        <li>
                            Không được Upload các tài liệu có nội dung phản động.
                        </li>
                        <li>
                            Dung lượng tối đa: 8MB.
                        </li>
                        <li>
                            Có thể upload file dưới dạng: doc, docx, pdf.
                        </li>
                    </ul>
                </div>
            </div>
            
            
        </div>
        </div>
    </div> 
</div>
    
<%- include('partials/footer.ejs') %>

<script>
    // document.getElementById('file').addEventListener('change', function(event) {
    //         const file = event.target.files[0];
    //         const allowedExtensions = ['doc', 'docx', 'pdf'];
    //         const fileExtension = file.name.split('.').pop().toLowerCase();
    //         if (file) {
                
    //             document.getElementById('copyright').style.display = 'block';
    //         } else {
    //             document.getElementById('copyright').style.display = 'none';
    //         }
            
    //     });
    //     document.getElementById('file').addEventListener('change', function() {
    //         const file = this.files[0];
    //         if (file.size > 8 * 1024 * 1024) { // 8MB in bytes
    //             alert('Dung lượng tối đa là 8MB');
    //             this.value = ''; // Clear the input
    //         }
    //     });
    document.getElementById('file').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const allowedExtensions = ['doc', 'docx', 'pdf'];
            const fileExtension = file.name.split('.').pop().toLowerCase();

            if (file) {
                if (allowedExtensions.includes(fileExtension)) {
                    if (file.size > 8 * 1024 * 1024) { // 8MB in bytes
                        alert('Dung lượng tối đa là 8MB');
                        this.value = ''; // Clear the input
                        
                    }
                } else {
                    alert('Chỉ cho phép các tệp có định dạng .doc, .docx, .pdf');
                    this.value = ''; // Clear the input
                    
                }
            } 
        });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.min.js"></script>
<script>
    introJs().start();
</script>