
<%- include('partials/head.ejs') %>
<!-- Layout wrapper -->
<div class="container-fluid">
    <%- include('partials/header.ejs') %>
    <div class="content-wrapper">
            <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                      <div class="nav-align-top mb-4">
                        
                       
                        <div class="card-body card">
                          <h1 class="title1">Thông tin </h1>
                          <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img
                                  src="/img/<%= data.avatar_url%>"
                                  alt="user-avatar"
                                  class="d-block rounded"
                                  height="100"
                                  width="100"
                                  id="uploadedAvatar"
                                  
                                  />
                            <h1><%= data.full_name%></h1>
                            <input type="text" value="<%= data.id%>" id="user_ed" hidden>
                            <input type="text" value="<%= user.id%>" id="user_ing" hidden>
                            
                            
                          </div>
                          <button class="btn rounded-pill btn-outline-primary mt-3 mb-3" id="buttonfollows" onclick="hanldeFollowing()">
                            <i class='bx bx-plus'></i>
                            <span>Theo dõi</span>
                          </button>
                          <div class="col-md-8">
                            <li class="d-flex mb-4 pb-1">
                               
                              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                  
                                  <h6 class="mb-0">Số người đang theo dõi</h6>
                                </div>
                                <div class="user-progress d-flex align-items-center gap-1">
                                  <h6 class="mb-0" id="following"></h6>
                                 
                                </div>
                              </div>
                            </li>
                            
                          </div>
                          <div class="col-md-8">
                            <li class="d-flex mb-4 pb-1">
                              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                  
                                  <h6 class="mb-0">Số người theo dõi</h6>
                                </div>
                                <div class="user-progress d-flex align-items-center gap-1">
                                  <h6 class="mb-0" id="followed"></h6>
                                 
                                </div>
                              </div>
                            </li>
                          </div>
                        </div>
                       
                             
                          
                       
                      </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 ">
                      <div class="nav-align-top mb-4">
                        <div class="card card-body">
                          <% if(check === true){ %>
                            <h1 class="title1">Danh sách bài viết</h1>
                            <% data1.forEach(entry => { %>
                              <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img src="/img/<%= entry.avatar_url %>"  class="me-3" height="30">
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-12  mb-sm-0 mb-2">
                                <div class="d-flex">
                                  <h5 class="mb-0" style="color: rgb(69, 84, 244);"><%= entry.full_name %></h5>
                                  <h5 class="text-muted " style="margin-left: 5px;" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="bottom" data-bs-html="true" title="" 
                                    data-bs-original-title="  <%=  moment(entry.created_at).format('Do MMMM, YYYY') %></span>">
                                    <span> <%=  moment(entry.created_at).format('Do MMMM, YYYY') %></span>
                                  </h5>
                                  
                                </div>
                                <div class="row">
                                  <div class="col-6">
                                    <a href = "/post/<%= entry.id %>">
                                      <h5 aria-label="<%= entry.title %>" data-cooltipz-dir="bottom" class="card-title"  onclick = "handleViewPost('<%= entry.id %>')"><%= entry.title %></h5>
                                    </a>
                                    <!-- <h5><%= entry.title %></h5> -->
                                  </div>
                                  <input type="text" value="<%= entry.id %>" class="num" hidden>
                                  <div class="col-6 load" id="type<%= entry.id %>">
                                    
                                  </div>
                                  <!-- <div class="card accordion-item col-2">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button type="button" class="accordion-button collapsed" onclick="loadtype(('<%= entry.id %>'))" data-bs-toggle="collapse" data-bs-target="#accordionOne<%= entry.id %>" aria-expanded="false" aria-controls="accordionOne">
                                       Tags
                                      </button>
                                    </h2>
              
                                    <div id="accordionOne<%= entry.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                      <div class="accordion-body" id="type<%= entry.id %>">
                                        
                                      </div>
                                    </div>
                                  </div> -->
                                </div>
                                <div class="d-flex">
                            
                                  <p>
                                    <i class='bx bx-heart'></i>
                                    <span><%= entry.like_count %></span>
                                  </p>
                                </div>
                                <hr class="m-0">
                                
                              </div>
                              <!-- <div class="col-4 col-sm-5 text-end">
                                <button type="button" class="btn btn-icon btn-outline-secondary">
                                  <i class="bx bx-link-alt"></i>
                                </button>
                              </div> -->
                            </div>
                              </div>
                            <% }) %>
                            <div class="d-flex justify-content-center">
                              <ul class="pagination">
                                <% if(page > 1) { %><li class="page-item"><a class="page-link" href="/user/<%= iduser%>?page=<%=page-1%>"><i class="tf-icon bx bx-chevron-left"></i></a> <% } %></li> 
                                <% for(let i = iterator; i <= endingLink; i++) { %>
                                    <% if(i === page) { %>
                                      <li class="page-item active">
                                        <a class="page-link" href="/user/<%= iduser%>?page=<%=i%>"><%=i%></a>
                                      </li>
                                    
                                    <% continue; %>
                                <% } %>
                                    <li class="page-item">
                                      <a class="page-link" href="/user/<%= iduser%>?page=<%=i%>"><%=i%></a>
                                    </li>
                                    
                                    <% } %>
                                    <% if(page < numberOfPages) { %> 
                                      <li class="page-item">
                                        <a class="page-link" href="/user/<%= iduser%>?page=<%=page+1%>"><i class="tf-icon bx bx-chevron-right"></i></a> 
                                      </li>
                                    
                                      <% } %>
                              </ul>
                            </div>
                            
                          <% }else{ %>
                            <h1>Không có bài viết</h1>
                          <% } %>
                          
                        </div>
                      </div>
                      
                    </div>
                    
                    
            </div>
            
            
           
        </div>
        
    </div> 
</div>      
<%- include('partials/footer.ejs') %>
<script src="/asset/js/script/user.js"></script>
<script>
//   load();
//   function load(){
//     const buttonfollows = document.getElementById('buttonfollows');
//     const following_user_id = document.getElementById('user_ing').value;
//     const followed_user_id = document.getElementById('user_ed').value;
//     var requests = {
//         "url": `http://localhost:8001/api/v1/user/check`,
//         "method": "POST",
//         "headers": {
//             "Content-Type": "application/json"
//         },
//         "data": JSON.stringify({
//             "following_user_id": following_user_id,
//             "followed_user_id": followed_user_id,
            
//         })
//     }
//     $.ajax(requests).done(function (response) {
//         console.log(response.message);
//         if(response.data){
          
//           buttonfollows.textContent = "Hủy";
//         }
//         else{
//           //buttonfollows.append("<i class='bx bx-plus'></i>")
//           buttonfollows.textContent = "Theo dõi";
//         }
        
//     })
//         .fail(function (errorThrown) {
//             console.error("Lỗi: ", errorThrown);
           
//         });
//   }

//   function hanldeFollowing(){
//     const following_user_id = document.getElementById('user_ing').value;
//     const followed_user_id = document.getElementById('user_ed').value;
//     var requests = {
//         "url": `http://localhost:8001/api/v1/user/check`,
//         "method": "POST",
//         "headers": {
//             "Content-Type": "application/json"
//         },
//         "data": JSON.stringify({
//             "following_user_id": following_user_id,
//             "followed_user_id": followed_user_id,
            
//         })
//     }
//     $.ajax(requests).done(function (response) {
//         console.log(response.message);
//         if(response.data){
//           var requests = {
//             "url": `http://localhost:8001/api/v1/user/unfollows`,
//             "method": "POST",
//             "headers": {
//                 "Content-Type": "application/json"
//             },
//             "data": JSON.stringify({
//                 "following_user_id": following_user_id,
//                 "followed_user_id": followed_user_id,
//             })
//           }
//           $.ajax(requests).done(function (response) {
//             console.log(response.message);
//             load();
//             loadfollowed();
//             loadfollowing();
//           })
//           .fail(function (errorThrown) {
//             console.error("Lỗi: ", errorThrown);
//           });
//         }
//         else{
//           var requests = {
//             "url": `http://localhost:8001/api/v1/user/follows`,
//             "method": "POST",
//             "headers": {
//                 "Content-Type": "application/json"
//             },
//             "data": JSON.stringify({
//                 "following_user_id": following_user_id,
//                 "followed_user_id": followed_user_id,
//             })
//           }
//           $.ajax(requests).done(function (response) {
//             console.log(response.message);
//             load();
//             loadfollowed();
//             loadfollowing();
//           })
//           .fail(function (errorThrown) {
//             console.error("Lỗi: ", errorThrown);
//           });
//         }
        
//     })
//         .fail(function (errorThrown) {
//             console.error("Lỗi: ", errorThrown);
           
//         });
  
//   }
//   function loadfollowing(){
//     const id = document.getElementById('user_ed').value;
//     $.ajax({
//         type: "GET",
//         url: "http://localhost:8001/api/v1/user/following/"+id,
        
//         success: function (response) {
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//             // 
//             $('#following').empty();
//             let num = response.num;
//             $('#following').append(num);
//         },
//         error: function (error) {
//             console.log(error);
//         },

//     });
//   }
//   function loadfollowed(){
//     const id = document.getElementById('user_ed').value;
//     $.ajax({
//         type: "GET",
//         url: "http://localhost:8001/api/v1/user/followed/"+id,
        
//         success: function (response) {
//           $('#followed').empty();
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//             // 
//             let num = response.num;
//             $('#followed').append(num);
//         },
//         error: function (error) {
//             console.log(error);
//         },

//     });
//   }
// function loadtype(id){
//     //const list = document.getElementsByClassName("${id}")
//      $.ajax({
//         type: "GET",
//         url: "http://localhost:8001/api/v1/post/tag/"+id,
        
//         success: function (response) {
//             // Kiểm tra xem dữ liệu phản hồi có phải là null không
//             let $str = response.data.map(function (type) {
//                     return `
//                     <a href = "/tag/${type.tag_id}" class="btn btn-xs btn-primary"> ${type.name_tag}</a>
//                 `;
//                 });
            
//               $("#type" + id).html($str);
//               //console.log(str);
//         },
//         error: function (error) {
//             console.log(error);
//         },

//     });
//   }
//   loadfollowing();
//   loadfollowed();
//   function getData() {
//     var inputs = document.getElementsByClassName('num');
//     var inputValues = [];

//     for (var i = 0; i < inputs.length; i++) {
//         inputValues.push(inputs[i].value);
//        loadtype(inputs[i].value);
//     }
//     console.log(inputValues);
    
//     // Sử dụng mảng inputValues ở đây
// }
// getData();
//   $(document).ready(function() {
  
//   //loadtype(id); // Call loadtype after DOM is ready
// });
</script>